* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face  {
    font-family: Roboto-Black;
    src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
}
@font-face  {
    font-family: Roboto-Medium;
    src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face  {
    font-family: Roboto-Regular;
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face  {
    font-family: Roboto-Bold;
    src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}
a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    outline: none;
}
.hidden {
    width: 100%;
    height: 100%;
    background-color: rgba(126, 252, 0, 0);
    position: fixed;
    /* or position: absolute; */
    display: none;
    z-index: 2;
}
.headCont {
    width: 100%;
    padding: 1em;
    display: flex;
    position: relative;
    z-index: 1.1;
    align-items: center;
    justify-content: space-between;
    background-color: #12172C;
    color: #7681AC;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    font-family: Roboto-Regular;
}
    .headButton {
        display: flex;
        display: none;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        transition: ease-in 0.3s;
    }
        .headButtonStickesT {
            display: flex;
            width: 2em;
            height: 2px;
            background-color: #fff;
            align-self: center;
            transition: ease-in 0.3s;
        }
        .headButtonStickesC {
            display: flex;
            width: 2em;
            height: 2px;
            margin: 0.4em 0;
            background-color: #fff;
            transition: ease-in 0.3s;
        }
        .headButtonStickesB {
            display: flex;
            width: 2em;
            height: 2px;
            background-color: #fff;
            transition: ease-in 0.3s;
        }
        .headButtonAnime {
            transform: rotateZ(90deg);
        }
            .headButtonAnimeStickesT {
                transform: rotateZ(45deg);
                transform-origin: center;
            }
            .headButtonAnimeStickesC {
                margin: 0;
                transform: rotateZ(-45deg);
                transform-origin: center;
            }
            .headButtonAnimeStickesB {
                display: none;
            }
    .navCont {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
        .naves {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 1em;
            cursor: pointer; 
            height: 100%;
        }
        .naves:hover {
            color: aliceblue;
        }
        .headDropDown {
            position: relative;
            margin: 0 0.3em;
        }
    .tabletShowCont {
        display: flex;
    }
        .tabletShow {
            display: none;
        }
            .profile:hover {
                color: aliceblue;
            }
            .profile {
                position: relative;
                z-index: 2;
                background-color: rgba(255, 255, 255, 0.05);
                border-radius: 6px;
                cursor: pointer;
                height: 100%;
                padding: 0.7em;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                .hIcon {
                    object-fit: contain;
                    width: 1em;
                }
                .betweenIconsLang {
                    margin: 0 0.3em;
                }
                .betweenIcons {
                    margin: 0 1em 0 0.6em;
                }
                .dropDownProfile {
                    top: 110%;
                    left: 0;
                    z-index: 3;
                    position: absolute;
                    background-color: #1E2337;
                    display: flex;
                    width: 100%;
                    border-radius: 6px;
                    display: none;
                    flex-direction: column;
                }
                    .ddItem {
                        position: relative;
                        display: flex;
                        padding: 1em;
                        width: 100%;
                        align-items: center;
                        /* justify-content: flex-start; */
                    }
                    .ddItem:hover {
                        background-color: rgba(255, 255, 255, 0.04);
                        border-radius: 6px 6px 0px 0px;
                        color: #fff;
                    }
                        .ddIcons {
                            object-fit: contain;
                            width: 1.3em;
                        }
                        .ddLinks {
                            margin-left: 0.5em;
                        }
@media screen and (max-width: 1100px) {
    .headButton {
        display: block;
        position: relative;
        z-index: 15;
    }
    .navCont {
        display: none;
        animation: headAnime 0.3s ease-in;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        top: 100%;
        z-index: 3;
        padding-bottom: 1em;
        background-color: #12172C;
    }
        .naves {
            padding: 0.5em;
        }
        .headDropDown {
            margin: 0.5em 0;
        }
    
}
@media screen and (min-width: 600px) and (max-width: 1101px) {
    .tabletShow {
        display: block;
        margin-right: 1em;
    }
    .tabletNotShow {
        display: none;
    }
}
@keyframes headAnime {
    from {
        top: 80%;
        opacity: 0;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}
.show {
    display: block;
    display: flex;
} 
.contCardTypeOne {
    width: 328px;
    display: flex;
    flex-direction: column;
    background-color: #171E39;
    color: #7681AC;
    font-family: Roboto-Regular;
}
    .imgT1 {
        object-fit: cover;
        width: 100%;
        height: 150px;
    }
    .cardContentT1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.8em;
    }
        .cardT1Item {
            display: flex;
            width: 100%;
            padding-left: 0.4em;
            line-height: 135%;
            font-size: 0.9em;
        }
        .cardT1ItemDown {
            display: flex;
            width: 100%;
            margin-top: 1em;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9em;
        }
            .itemItemsT1 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #758AE8;
                font-size: 0.8em;
            }
                .cardT1Icon {
                    object-fit: cover;
                    margin-right: 0.1em;
                    width: 2em;
                }
.primary {
    font-family: Roboto-Black;
    line-height: 19px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: max-content;
    position: relative;
    padding: 1em 3em;
    color: #fff;
    background: linear-gradient(89.93deg, #AB154B 10.82%, #FFA730 93.34%);
    border-radius: 4px;
}
    .primary::after {
        width: 100%;
        height: 100%;
        top: 8.85%;
        left: 0;
        content: '';
        z-index: -1;
        position: absolute;
        background: linear-gradient(89.93deg, #AB164B 10.82%, #FFA730 93.34%);
        opacity: 0.6;
        filter: blur(24px);
        border-radius: 4px;
    }
.small {
    padding: 0.5em 1.5em;
    font-family: Roboto-Regular;
}
.secondary {
    font-family: Roboto-Regular;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    cursor: pointer;
    background-image: url('./assets/icons/border-gradient.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 1em 3em;
}
    .text {
        background: -webkit-gradient(89.93deg, #AB164B 10.82%, #FFA730 93.34%);
        background: gradient(89.93deg, #AB164B 10.82%, #FFA730 93.34%);
        background-image: -webkit-gradient( linear, left top, right top, color-stop(10.82%, #AB164B), color-stop(93.34%, #FFA730));
        background-image: gradient( linear, left top, right top, color-stop(10.82%, #AB164B), color-stop(93.34%, #FFA730));
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
.contCardTypeTwo {
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: #171E39;
    color: #fff;
    font-family: Roboto-Regular;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
    .imgT2 {
        object-fit: cover;
        width: 100%;
        height: 180px;
    }
    .cardContentT2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0.3em;
        padding: 0.6em;
        line-height: 120%;
        font-size: 0.9em;
    }
        .cardT2ItemDown {
            display: flex;
            width: 100%;
            margin-top: 0.5em;
            align-items: center;
            justify-content: space-between;
        }
            .itemItemsT2Line {
                padding: 0 6em;
                border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            }
.tariffCont {
    display: flex;
    flex-direction: column;
    background-color: #171E39;
    width: min-content;
    padding: 1.4em;
    padding-bottom: 3.2em;
    position: relative;
}
    .tariffTitle {
        display: flex;
        line-height: 120%;
        color: #fff;
        font-family: Roboto-Regular;
        font-size: 0.9em;
    }
    .tariffPlan {
        display: flex;
        width: max-content;
        font-family: Roboto-Black;
        color: #fff;
        align-items: flex-end;
        text-transform: uppercase;
        text-shadow: 0px 0px 17px rgba(191, 201, 255, 0.5);
        padding: 1em 0;
        border-bottom: 1px solid #fff;
    }
        .tariffNumber {
            font-size: 2.1em;
            line-height: 100%;
        }
        .tariffText {
            font-size: 0.9em;
            margin: 0 0.1em;
            line-height: 150%;
        }
        .starlet {
            margin: 0 0.7em;
            font-size: 1.5em;
        }
    .tariffInfo {
        color: #7681AC;
        font-family: Roboto-Regular;
        margin: 0.5em 0;
        font-size: 0.9em;
    }
    .buttonTariffCont {
        position: absolute;
        align-self: center;
        z-index: 2;
        top: 85%;
    }
.waiterCont {
    display: flex;
    width: 300px;
    height: 440px;
    position: relative;
}
    .waiterImg {
        object-fit: cover;
        width: 100%;
    }
    .waiterText {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        transition: ease-in-out 0.5s;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1.2em;
        background: linear-gradient(180deg, rgba(18, 23, 44, 0.53) 0%, #12172C 100%);
    }
    .waiterCont:hover .waiterText {
        opacity: 0;
    }
        .waiterInfo {
            display: flex;
            width: 100%;
            font-family: Roboto-Regular;
            font-size: 0.9em;
            color: #7681AC;
            line-height: 160%;
            margin-bottom: 0.5em;
        }
        .waiterName {
            font-family: Roboto-Bold;
            font-style: normal;
            font-size: 1.1em;
            line-height: 21px;
            text-transform: capitalize;
            color: #DBA965;
            margin: 0.5em 0;
        }
        .waiterTNumber {
            font-family: Roboto-Regular;
            font-size: 0.9em;
            color: #fff;
            margin-bottom: 1em;
        }
        .waiterPost {
            color: #7681AC;
            font-family: Roboto-Regular;
            font-size: 0.9em;
            margin-bottom: 1em;
        }
    .waiterExperience {
        object-fit: contain;
        position: absolute;
        bottom: 4%;
        right: 0;
        z-index: 0;
    }
.footerCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #12172C;
    box-shadow: 0px -34px 44px rgba(0, 0, 0, 0.34);
}
    .footerUnderside {
        display: flex;
        width: 100%;
        padding: 1.5em 1em;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        justify-content: space-between;
        line-height: 19px;
        color: #7681AC;
        font-family: Roboto-Regular;
    }
        .copyrightText {
            display: flex;
            align-items: center;
            width: 22em;
        }
        .footerRightSide {
            display: flex;
            align-items: center;
        }
            .footerNaves {
                position: relative;
                display: flex;
                width: max-content;
                margin-right: 2em;
            }
            .footerNaves:hover {
                color: #fff;
            }
@media screen and (max-width: 900px) {
.footerCont {
    /* padding: 1em; */
}
    .footerHeadCont {
        flex-direction: column;
        position: relative;
    }
        .footerHead {
            display: flex;
            position: static;
            align-items: center;
            justify-content: center;

        }
    .footerUnderside {
        justify-content: center;
        flex-direction: column;
    }
        .copyrightText {
            display: flex;
            width: 100%;
            justify-content: center;
            text-align: center;
        }
        .footerRightSide {
            margin: 1em 0;
            flex-direction: column;
        }
            .footerNaves {
                margin: 0;
            }
}   
.socialCont {
    display: flex;
    margin-left: 4em;
    align-items: center;
}
    .socialItem {
        display: flex;
        position: relative;
        object-fit: contain;
    }
@media screen and (max-width: 900px) {
.socialCont {
    width: 100%;
    margin-left: 0;
    justify-content: space-around;
}
} 
.courseCont {
    display: flex;
    z-index: 1;
    padding: 1.4em;
    position: relative;
    padding-bottom: 1.8em;
    background-color: #171e39;
    width: max-content;
}
    .courseLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
        .courseTitle {
            font-family: Roboto-Black;
            text-transform: capitalize;
            font-size: 1.2em;
            max-width: 230px;
            line-height: 115%;
            color: #DBA965;
        }
        .advertisementCont {
            position: relative;
            display: flex;
            height: 0.8em;
            margin: 0.5em 0;
            width: 100%;
            font-size: 0.8em;
            line-height: 14px;
            color: #7681AC;
            font-family: Roboto-Regular;
        }
            .advertisement {
                position: absolute;
                width: max-content;
                top: 0;
                left: 0;
            }
        .courseInfo {
            display: flex;
            width: 100%;
            margin: 0.4em 0;
        }  
            .courseInfoItems {
                align-items: center;
                display: flex;
                position: relative;
                z-index: 1;
                font-size: 0.9em;
                font-family: Roboto-Regular;
                /* line-height: 16px; */
                margin-right: 1em;
                color: #7681AC;
            }
                .courseInfoIcon {
                    object-fit: contain;
                    margin-right: 0.3em;
                }
        .courseMore {
            position: relative;
            display: flex;
            width: 100%;
            margin-top: 0.8em;
        }
    .courseRight {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
        .courseImg {
            object-fit: contain;
        }
@media screen and (max-width: 1100px) {
    .courseRight {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        z-index: -1;
        bottom: 0;
        filter: blur(0.5px);
        opacity: 0.2;
    }
            .advertisement {
                position: relative;
                width: 100%;
            }
}
.vacancyCont {
    width: min-content;
    display: flex;
    flex-direction: column;
    background-color: #171E39;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.6);
}
    .vacancyText {
        display: flex;
        flex-direction: column;
        padding: 1em 1em 0 1em;
        color: #7681AC;
    }
        .vacancyRequirements {
            display: flex;
            font-family: Roboto-Bold;
        }
        .vacancySalary {
            display: flex;
            font-family: Roboto-Regular;
            margin: 0.4em 0;
        }
        .vacancyShortInfo {
            font-family: Roboto-Regular;
            font-size: 0.8em;
        }
        .vacancyInfo {
            display: flex;
            width: max-content;
            font-size: 0.8em;
            font-family: Roboto-Regular;
            margin: 0.4em 0;
        }
        .vacancyInfoItem {
                align-items: center;
                display: flex;
            }
            .vacancyIcon {
                object-fit: contain;
                margin-left: 4em;
            }
    .vacancyImgCont {
        display: flex;
        width: 100%;
    }
        .vacancyImg {
            object-fit: cover;
            width: 100%;
        }
.actionsCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #12172C;
}
    .actionsContent {
        display: flex;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
        width: 100%;
        flex-direction: column;
        padding: 3em 7em;
    }
        .actionsTop {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 3em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
            .actionsUser {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-family: Roboto-Regular;
                margin-bottom: 1em;
            }
                .actionsUserLeft {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
                    .actionsUserAvatar {
                        object-fit: contain;
                        width: 5em;
                    }
                    .actionsUserInfo {
                        margin-left: 0.5em;
                        display: flex;
                        flex-direction: column;
                    }
                        .actionsUserName {
                            display: flex;
                            color: #fff;
                            font-size: 1.1em;
                            font-family: Roboto-Bold;
                        }
                        .actionsUserDate {
                            margin: 0.2em 0;
                            display: flex;
                            color: #7681AC;
                            font-size: 0.8em;                            color: #7681AC;
                        }
                        .actionsUserStatus {
                            display: flex;
                            color: #fff;
                            font-size: 0.8em;
                        }
                .actionsUserRight {
                    display: flex;
                    width: 100%;
                    align-items: center;
                }
                    .actionsUserRightText {
                        display: flex;
                        width: 100%;
                        text-align: right;
                        margin-right: 1em;
                        color: #7681AC;
                        font-size: 0.8em;
                    }
            .actionsTopUnderside {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                text-transform: capitalize;
                padding: 1.5em 0;
            }
                .actionsTopUndersideItem {
                    display: flex;
                    cursor: pointer;
                    position: relative;
                    text-transform: capitalize;
                    padding-right: 1.5em;
                    font-family: Roboto-Regular;
                    font-size: 1em;
                    background: -webkit-gradient(89.93deg, #AB164B 10.82%, #FFA730 93.34%);
                    background: gradient(89.93deg, #AB164B 10.82%, #FFA730 93.34%);
                    background-image: -webkit-gradient( linear, left top, right top, color-stop(10.82%, #AB164B), color-stop(93.34%, #FFA730));
                    background-image: gradient( linear, left top, right top, color-stop(10.82%, #AB164B), color-stop(93.34%, #FFA730));
                    color:transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
                    .leftBorder {
                        padding-left: 1.5em;
                        border-left: 1px solid #C94A42;
                    }
        .actionsMap {
            display: flex;
            width: 100%;
            padding: 2em 0;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }
            .actionsMapItem {
                position: relative;
                display: flex;
                margin-bottom: 2em;
            }
@media screen and (max-width: 900px) {
    .actionsContent {
        padding: 1em;
    }
            .actionsUser {
                flex-direction: column;
            }
                    .actionsUserRight {
                        flex-direction: column;
                    }       
                        .actionsUserRightText {
                            margin: 1em 0;
                        }
            .actionsTopUnderside {
                flex-direction: column;
                align-items: flex-start;
            }
                .actionsTopUndersideItem {
                    margin: 0.5em 0;
                    padding-left: 1.5em;
                    border-left: 1px solid #C94A42;
                }
               
}
                .actionsTopUndersideItemActive {
                    color: #fff;
                    border-left-color: #fff;
                }
.contactsCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-color: #12172C;
}
    .contactsContent {
        display: flex;
        flex-direction: column;
        padding: 3em;
        position: relative;
        width: 100%;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    }
        .contactsBox {
            display: flex;
            align-items: flex-start;
            padding: 3em 12em 3em 2em;
            width: max-content;
            position: relative;
            z-index: 0;
            font-family: Roboto-Regular;
            color: #fff;
            background-color: #536DFE;
        }
            .contactsBoxAvatar {
                object-fit: contain;
                margin-right: 2em;
            }
            .contactsBoxContent {
                display: flex;
                padding: 0.5em 0;
                flex-direction: column;
            }
                .contactsBoxContentAddress {
                    display: flex;
                    font-size: 1.3em;
                    margin: 0.5em 0 1em 0;
                }
                .contactsBoxContentCommunication {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                    .contactsBoxContentCommunicationItem {
                        display: flex;
                        flex-direction: column;
                        font-size: 1.3em;
                    }
                        .contactsBoxContentCommunicationTitle {
                            display: flex;      
                            font-size: 1rem;
                            margin-bottom: 0.7em;
                        }
                .contactsContentSocial {
                    display: flex;
                    width: 100%;
                    margin-top: 4em;
                }
                    .contactsContentSocialItem {
                        display: flex;
                        position: relative;
                        align-items: center;
                        margin-right: 1em;
                    }
                        .contactsContentSocialIcon {
                            object-fit: contain;
                            margin-right: 0.3em;
                        }
        .contactsAdvertisement {
            display: flex;
            width: 40%;
            margin: 4em 0 2em 0;
            color: #7681AC;
            font-size: 0.9em;
            font-family: Roboto-Regular;
        }
        .contactsBackground {
            position: absolute;
            z-index: 0;
            right: 3em;
            width: 40em;
            height: 100%;
        }
            .contactsBgImg {
                object-fit: contain;
                width: 100%;
                position: absolute;
                z-index: -1;
                right: 0;
                top: 0;
            }
            .contactsFlower {
                object-fit: contain;
                position: absolute;
                right: 50%;
                z-index: -1000000000;
                top: 0;
            }
            .contactsGirlCont {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 30000;
                width: 100%;
                height: 100%;
            }
                .contactsGirl {
                    object-fit: contain;
                    position: absolute;
                    right: 0;
                    top: 4em;
                }
                .contactsWire {
                    object-fit: contain;
                    position: absolute;
                    bottom: 0;
                    z-index: 300;
                    left: 0;
                }
                .contactsWireEnd {
                    object-fit: contain;
                    position: absolute;
                    left: 0.8em;
                    z-index: 222;
                    top: 51%;
                }
@media screen and (max-width: 900px) {
.contactsCont {
    height: auto;
}
    .contactsContent {
        padding: 1em;
    }
        .contactsBox {
            padding: 1em;
            flex-direction: column;
            width: 100%;
        }
            .contactsBoxContent {
                width: 100%;
            }
                .contactsBoxContentTitle {
                    width: 100%;
                }
                .contactsBoxContentCommunication {
                    flex-direction: column;
                }
                    .contactsBoxContentCommunicationItem {
                        margin-bottom: 1em;
                    }
        .contactsAdvertisement {
            width: 100%;
        }
        .contactsBackground {
            display: none;
        }
}                
@media (min-width: 1500px) {
        .contactsBox {
            padding: 3em 25em 3em 2em;
        }
            .contactsBackground {
                width: 50em;
                top: 0;
            }
            .contactsFlower {
                right: 55%;
                top: 20%;
            }
                .contactsWire {
                    left: 20%;
                }
                .contactsWireEnd {
                    left: 21%;
                }
}
@media screen and (min-width: 1800px) {
        .contactsBox {
            padding: 3em 31em 3em 2em;
        }
        .contactsBackground {
            top: 0;
            width: 60em;
        }
            .contactsFlower {
                right: 70%;
                top: 25%;
            }
                .contactsWire {
                    left: 0;
                }
                .contactsWireEnd {
                    left: 1em;
                }
                .contactsGirl {
                    right: 32%;
                }
}
.vacancyPageCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #12172C;
}
    .vacancyPageContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
        padding: 1em;
    }
        .vacancyPageTop {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 1em;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 0.7em
        }
            .vacancyTopImgCont {
                display: flex;
                width: 100%;
            }
                .vacancyTopImg {
                    object-fit: contain;
                    width: 100%;
                }
            .vacancyTopText {
                display: flex;
                flex-direction: column;
                width: 100%;
                font-family: Roboto-Regular;
                color: #7681AC;
                margin: 0 1em;
            }
                .vacancyTopTextTitle {
                    font-family: Roboto-Bold;
                    font-size: 1.1em;
                    color: #fff;
                    text-transform: uppercase;
                }
            .vacancyTopButton {
                display: flex;
                position: relative;
            }
    .vacancyPageContentMiddle {
        display: flex;
        width: 100%;
        padding: 1em;
        box-shadow: 0px 34px 44px rgba(0, 0, 0, 0.34);
        flex-direction: column;
    }
        .vacancyPageContentMiddleTitle {
            display: flex;
            width: 100%;
            margin-bottom: 2em;
            justify-content: center;
            color: #7681AC;
            font-family: Roboto-Regular;
            align-items: center;
        }
        .vacancyPageContentMiddleMap {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
        }
            .vacancyPageContentMiddleMapItem {
                display: flex;
                margin-bottom: 2em;
            }
        .vacancyPageContentMiddleButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            padding: 3em;
        }
    .vacancyPageContentBottom {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 2em 0;
    }
        .vacancyPageContentBottomTitle {
            display: flex;
            width: 100%;
            padding: 1em;
            font-family: Roboto-Bold;
            font-size: 1.1em;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        .vacancyPageContentBottomCarouselCont {
            display: flex;
            width: 100%;
            flex-direction: column;
            overflow: hidden;
            padding: 1em;
        }
            .vacancyPageContentBottomCarousel {
                display: flex;
                overflow-x: auto;
                scroll-behavior: smooth;
                scroll-snap-type: x mandatory;
                /* -webkit-overflow-scrolling: touch; */
                scroll-snap-points-x: repeat(100%);
                pointer-events: visible;
                cursor: pointer;
                padding-bottom: 1em;
            }
            .vacancyPageContentBottomCarousel.active {
                cursor: grabbing;
                cursor: -webkit-grabbing;
            }
                .vacancyPageContentBottomCarousel::-webkit-scrollbar {
                    width: 2px;
                    height: 0.5em;
                  
                }
                .vacancyPageContentBottomCarousel::-webkit-scrollbar-thumb{
                    background:  linear-gradient(130.78deg, #E9E9E9 -16.19%, #7389E8 92.59%);
                    border-radius: 0.5em;
                    width: 10px;
                }
                .vacancyPageContentBottomCarousel::-webkit-scrollbar-button{
                    background-color: rgba(124, 124, 124, 0);
                    pointer-events: none;
                }
                .vacancyPageContentBottomCarousel::-webkit-scrollbar-track {
                    background-color: rgba(255, 255, 255, 0.05);
                    margin: 25em;
                    border-radius: 1em;
                }
                .vacancyPageContentBottomCarouselItem {
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    margin-right: 1.5em;
                    transform-origin: center center;
                    transform: scale(1);
                    transition: transform 0.5s;
                    position: relative;
                    pointer-events: visible;
                }
                    .vacancyPageContentBottomCarouselItem::after {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        content: '';
                        z-index: 1;
                    }
            .vacancyPageContentBottomCarouselNavCont {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                top: 0;
            }
                .vacancyPageContentBottomCarouselNav {
                    object-fit: contain;
                    cursor: pointer;
                    padding: 0 0 1em 1em;
                }
@media screen and (max-width: 900px) {
        .vacancyPageTop {
            flex-direction: column;
            align-items: center;
        }
            .vacancyTopText {
                margin: 2em 0;
                align-items: center;
            }
                .vacancyTopTextTitle {
                    margin-bottom: 1em;
                }
        .vacancyPageContentMiddleMap {
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }
            .vacancyPageContentMiddleMapItem {
                font-size: 0.9em;
                justify-content: center;
            }
                .vacancyPageContentBottomCarouselNav {
                    padding: 1em;
                }
}
.topWaitersCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #12172C;
}
    .topWaitersContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    }
        .topWaitersContentTop {
            display: flex;
            width: 100%;
            padding: 2em;
            flex-direction: column;
            box-shadow: 0px 34px 44px rgba(0, 0, 0, 0.34);
        }
            .topWaitersContentTopMap {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-around;
            }
                .topWaitersContentTopMapItem {
                    display: flex;
                    margin-bottom: 1em;
                }
                    .topWaitersContentTopFirstCard {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        font-family: Roboto-Bold;
                        width: 300px;
                        padding-right: 2em;
                        height: 440px;
                    }
                        .topWaitersContentTopFirstCardTitle {
                            font-size: 1.9em;
                            color: #fff;
                            margin-bottom: 1em;
                            text-shadow: 0px 0px 17px rgba(191, 201, 255, 0.5);
                        }
                        .topWaitersContentTopFirstCardText {
                            font-family: Roboto-Regular;
                            color: #7681AC;
                            font-size: 0.9em;
                            margin-bottom: 1em;
                            line-height: 160%;
                        }
                        .topWaitersContentTopFirstCardAdvice {
                            color: #DBA965;
                            margin-bottom: 1em;
                        }
                        .topWaitersContentTopFirstCardButton {
                            position: relative;
                        }
        .topWaitersContentBottom {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 2em 0;
        }
            .topWaitersContentBottomFirstLayer {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 1em;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
                .topWaitersContentBottomTitle {
                    font-family: Roboto-Bold;
                    display: flex;
                    color: #fff;
                    margin-right: 7em;
                    font-size: 1.1em;
                    line-height: 21px;
                }
                .topWaitersContentBottomFirstLayerRight {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    font-family: Roboto-Regular;
                    color: #7681AC;
                }
                    .topWaitersContentBottomFirstLayerText {
                        line-height: 19px;
                        text-align: right;
                        margin-right: 1em;
                    }          
                    .topWaitersContentBottomFirstLayerButton {
                        position: relative;
                    }
            .topWaitersContentBottomSecondLayer {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                padding: 2em 1em; 
            }      
                .topWaitersContentBottomSecondLayerItem {
                    display: flex;
                    width: 300px;
                    position: relative;
                    margin: 0 1em 1em 1em;
                }
                    .topWaitersContentBottomSecondLayerItemButton {
                        position: absolute;
                        right: 0.5em;
                        top: 0.5em;
                    }
@media screen and (max-width: 1100px) {
            .topWaitersContentBottomFirstLayer {
                flex-direction: column;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
                .topWaitersContentBottomTitle {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0 1em 0;
                }
                .topWaitersContentBottomFirstLayerRight {
                    flex-direction: column;
                    display: flex;
                    width: 100%;
                }
                    .topWaitersContentBottomFirstLayerText {
                        margin: 0 0 1em 0;
                        display: flex;
                        width: 100%;
                        text-align: left;
                    }
}
.coursePageCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #12172C;
}
    .coursePageContent {
        display: flex;
        width: 100%;
        padding: 2em 1em;
        justify-content: space-between;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    }
        .coursePageContentLeft {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
            .coursePageContentLeftVideoCont {
                display: flex;
                width: 100%;
                margin-bottom: 2em;
            }
            .coursePageContentLeftVideo {
                    object-fit: contain;
                    width: 100%;
                }
            .coursePageContentLeftText {
                display: flex;
                width: 100%;
                flex-direction: column;
                color: #7681AC;
                line-height: 140%;
                font-family: Roboto-Regular;
            }
                .coursePageContentLeftTextTitle {
                    display: flex;
                    color: #fff;
                    text-transform: uppercase;
                    width: 100%;
                    line-height: 21px;
                    font-size: 1.1em;
                    margin-bottom: 2em;
                    font-family: Roboto-Bold;
                }       
        .coursePageContentRight {
            margin-left: 2em;
            display: grid;
            height: min-content;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            justify-content: flex-start;
        }
            .coursePageContentRightItem {
                display: flex;
                width: 200px;
                cursor: pointer;
                flex-direction: column;
            }
                .opacity {
                    transition: ease-in 0.3s;
                    opacity: 0.16;
                }
                .coursePageContentRightItemTop {
                    display: flex;
                    width: 100%;
                    height: 100px;
                }
                    .coursePageContentRightItemImg {
                        object-fit: cover;
                        width: 100%;
                    }
                .coursePageContentRightItemText {
                    padding-top: 1em;
                    display: flex;
                    width: 100%;
                    line-height: 16px;
                    color: #7681AC;
                    font-family: Roboto-Regular;
                    font-size: 0.9em;
                }
@media screen and (max-width: 1100px) {
    .coursePageContent {
        flex-direction: column;
    }
        .coursePageContentRight {
            margin: 0;
            display: flex;
            width: 100%;
            margin-top: 2em;
            flex-wrap: wrap;
            justify-content: space-around;
        }
}
.tariffPageCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #12172C;
}
    .tariffPageContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 3em;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    }
        .tariffPageContentMap {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0 5em;
        }
            .tariffPageContentMapItem {
                margin-bottom: 3em;
            }
        .tariffPageContentText {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            font-family: Roboto-Regular;
            line-height: 160%;
            text-align: center;
            color: #7681AC;
            margin: 4em 0;
        }
        .tariffPageContentPayment {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            padding: 0 7em;
            justify-content: space-around;
        }
            .tariffPageContentPaymentItem {
                position: relative;
                object-fit: contain;
                margin-bottom: 1em;
            }
.courseMainPageCont {
    display: flex;
    width: 100%;
    background-color: #12172C;
    flex-direction: column;
}
    .courseMainPageContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    }
        .courseMainPageContentTop {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 1em;
            box-shadow: 0px 34px 44px rgba(0, 0, 0, 0.34);
        }
            .courseMainPageContentTopText {
                display: flex;
                width: 100%;
                align-items: center;
                font-family: Roboto-Regular;
                color: #7681AC;
                padding: 2em;
                justify-content: center;
            }
            .courseMainPageContentMap {
                /* display: grid; */
                /* grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1em; */
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
            }
                .courseMainPageContentMapItem {
                   margin-bottom: 2em;
                }  
        .courseMainPageContentBottom {
            display: flex;
            width: 100%;
            padding: 0 1em;
            margin: 5em 0;
        }
            .courseMainPageContentVideoCont {
                display: flex;
                width: 100%;
                position: relative;
                flex-direction: column;
            }
                .courseMainPageContentVideoTitle {
                    /* position: absolute; */
                    display: flex;
                    width: 100%;
                    font-family: Roboto-Bold;
                    line-height: 21px;
                    /* top: 0; */
                    /* left: 0; */
                    font-size: 1.1em;
                    text-transform: uppercase;
                    padding: 1em 0;
                    color: #DBA965;
                    /* z-index: 654; */
                }
                    /* .courseMainPageContentVideoTitle::before {
                        position: absolute;
                        background-color: rgba(18, 23, 44, 0.931);
                        width: 100%;
                        height: 100%;
                        top: 0;
                        z-index: -1;
                        filter: blur(25px);
                        left: 0;
                        content: '';
                    } */
                .courseMainPageContentVideo {
                    object-fit: contain;
                    width: 100%;
                } 
            .courseMainPageContentBottomRight {
                display: flex;
                width: 100%;
                padding: 5em;
            }
                .courseMainPageContentBottomRightContent {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                }
                    .courseMainPageContentBottomTitle {
                        display: flex;
                        font-family: Roboto-Bold;
                        width: 100%;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-size: 1.1em;
                    }
                    .courseMainPageContentBottomText {
                        display: flex;
                        width: 100%;
                        line-height: 160%;
                        color: #7681AC;
                        font-family: Roboto-Regular;
                        margin: 2em 0 3em 0;
                    }
                    .courseMainPageContentBottomButton {
                        display: flex;
                        width: 100%;
                        position: relative;
                    }
@media screen and (max-width: 1100px) {
        .courseMainPageContentBottom {
            flex-direction: column;
        }    
            .courseMainPageContentBottomRight {
                padding: 0;
                margin-top: 2em;
            }   
                .courseMainPageContentBottomButton {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }
}
.aboutUsCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #12172C;
}
    .aboutUsContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    }
        .aboutUsContentTop {
            display: flex;
            width: 100%;
            height: 430px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
            .aboutUsContentTopLeft {
                display: flex;
                width: 100%;
                position: relative;
            }
                .aboutUsContentTopLeftImg {
                    object-fit: cover;
                    width: 100%;
                }
                .aboutUsContentTopLeftTitleCont {
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    font-family: Roboto-Bold;
                }
                    .aboutUsContentTopLeftTitleCont::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(269.6deg, #12172C 0.19%, rgba(18, 23, 44, 0.7) 20.93%, rgba(18, 23, 44, 0) 46.86%, rgba(18, 23, 44, 0.8) 84.16%, #12172C 99.76%);
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                    .aboutUsContentTopLeftTitle {
                        display: flex;
                        width: 100%;
                        padding: 0 2em;
                        position: relative;
                        z-index: 2;
                        line-height: 140%;
                        text-transform: uppercase;
                        font-size: 2.2em;
                        text-shadow: 0px 0px 17px rgba(191, 201, 255, 0.5);
                    }
                    .aboutUsContentTopLeftText {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 1em;
                        font-size: 1.1em;
                    }
            .aboutUsContentTopRight {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 2em 1em 2em 0em;
            }
                .aboutUsContentTopRightSuggest {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    color: #fff;
                    line-height: 138.6%;
                }
                    .aboutUsContentTopRightSuggestText {
                        display: flex;
                        font-family: Roboto-Regular;
                        font-size: 0.9em;
                        text-align: right;
                        border-right: 1px solid rgba(255, 255, 255, 0.1);
                        padding: 0 1em 0 1em;
                    }
                    .aboutUsContentTopRightSuggestForU {
                        text-align: center;
                        letter-spacing: 0.02em;
                        padding: 0 0.5em;
                        font-family: Roboto-Bold;
                    }
                    .aboutUsContentTopRightSuggestButton {
                        position: relative;
                        z-index: 2;
                    }
                .aboutUsContentTopRightNavCont {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;
                    font-family: Roboto-Regular;
                    font-size: 0.9em;
                    color: #7681AC;
                    margin-top: 2em;
                    text-align: left;
                }
                    .aboutUsContentTopRightNav {
                        display: flex;
                        align-items: center;
                    }
                    .redDot {
                        display: flex;
                        padding-bottom: 0.9em;
                    }
                .aboutUsContentTopRightChatCont {
                    display: flex;
                    margin-top: 1em;
                    width: 100%;
                    justify-content: flex-end;
                }
                    .aboutUsContentTopRightChat {
                        display: flex;
                        position: relative;
                    }
                        .aboutUsContentTopRightChatImg {
                            object-fit: contain;
                        }
                        .aboutUsContentTopRightChatContent {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            align-items: center;
                            justify-content: center;
                            padding: 1em;
                            position: absolute;
                            flex-direction: column;
                            font-size: 0.8em;     
                        }
                            .aboutUsContentTopRightChatTop {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                font-family: Roboto-Bold;
                                margin-bottom: 0.8em;
                            }
                                .aboutUsContentTopRightChatTitle {
                                    color: #fff;
                                }
                                .aboutUsContentTopRightChatDetailed {
                                    position: relative;
                                    color: #DBA965;
                                }
                            .aboutUsContentTopRightChatText {
                                display: flex;
                                width: 100%;
                                font-family: Roboto-Regular;
                                line-height: 120%;
                                color: #7681AC;
                            }
        .aboutUsContentCarousel {
            display: flex;
            width: 100%;
            flex-direction: column;
            overflow: hidden;
        }
            .aboutUsContentCarouselText {
                display: flex;
                width: 100%;
                padding: 1em;
                color: #7681AC;
                font-family: Roboto-Regular;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
                .aboutUsContentCarouselTextMarquee {
                    display: flex;
                    width: 100%;
                }
        .aboutUsContentAboutUsCont {
            display: flex;
            width: 100%;
            height: max-content;
            flex-direction: column;
            padding: 2em 1em;
            box-shadow: 0px 34px 44px rgba(0, 0, 0, 0.34);
        }
            .aboutUsContentAboutUsContTitle {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                color: #7681AC;
                font-family: Roboto-Regular;
                margin-bottom: 2em;
            }
                .aboutUsContentAboutUsContTitle > div {
                    margin-right: 0.5em;
                }
            .aboutUsContentAboutUsCards {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-around;
                align-items: flex-start;
            }
                .betweenLine {
                    height: 40%;
                    padding: 5em 1px;
                    border-left: 1px solid rgba(255, 255, 255, 0.1);
                    margin: 4em 1em;
                }
                .aboutUsContentAboutUsCard {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    padding: 2em;
                    position: relative;
                    z-index: 1;
                    background: #151B32;
                    font-family: Roboto-Regular;
                    box-shadow: 0px 34px 44px rgba(0, 0, 0, 0.3);
                }
                    .aboutUsContentAboutUsCard::before {
                        position: absolute;
                        width: 100%;
                        height: 60%;
                        top: 20%;
                        left: 0;
                        content: '';
                        z-index: 2;
                        background: linear-gradient(148.47deg, #607EFF 13.16%, #FFA730 91.21%), #FFFFFF;
                        opacity: 0.25;
                        filter: blur(94px);
                        border-radius: 210px;
                    }
                    .aboutUsContentAboutUsCardTopText {
                        display: flex;
                        width: 100%;
                        color: #7681AC;
                        margin-bottom: 1em;
                    }
                    .aboutUsContentAboutUsCardTitle {
                        display: flex;
                        width: 100%;
                        padding-bottom: 0.2em;
                        font-family: Roboto-Bold;
                        line-height: 120%;
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 2.2em;
                        text-shadow: 0px 0px 17px rgba(191, 201, 255, 0.5);
                    }
                    .aboutUsContentAboutUsCardTitleBorder {
                        height: 1px;
                        width: 70%;
                        margin-bottom: 1em;
                        background-color: #fff;
                        box-shadow: 0px 0px 10px rgb(255, 255, 255);
                    }
                    .aboutUsContentAboutUsCardText {
                        display: flex;
                        width: 100%;
                        color: #fff;
                        font-size: 0.9em;
                        line-height: 135%;
                    }
            .aboutUsContentAboutUsContEducational {
                display: flex;
                width: 100%;
            }
            .aboutUsContentAboutUsContEducationalSingle {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 3em 0;
                padding: 1em 0;
                box-shadow: 0px 0px 44px 44px rgba(0, 0, 0, 0.34);
            }
                .aboutUsContentAboutUsContEducationalSingleTitle {
                    padding: 1em;
                    font-family: Roboto-Bold;
                    font-size: 1.1em;
                    color: #fff;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
                .aboutUsContentAboutUsContEducationalSingleContent {
                    display: grid;
                    grid-template-columns: 55fr 45fr 100fr;
                    width: 100%;
                    padding: 1em 1em 3em 1em;
                }
                    .aboutUsContentAboutUsContEducationalSingleContentImg {
                        object-fit: contain;
                    }
                    .aboutUsContentAboutUsContEducationalSingleParts {
                        display: flex;
                        flex-direction: column;
                        padding: 3em 0 0 2em;
                        font-family: Roboto-Bold;
                        line-height: 19px;
                        color: #fff;
                    }
                        .aboutUsContentAboutUsContEducationalSinglePartsItem {
                            display: flex;
                            margin-bottom: 1em;
                            padding: 0 4em 0.5em 0;
                            position: relative;
                        }
                        .aUActive {
                            color: #DBA965;
                            border-right: 2px solid #DBA965;
                        }
                            .aboutUsContentAboutUsContEducationalSinglePartsItem::before {
                                position: absolute;
                                width: 70%;
                                height: 1px;
                                background-color: #ffffff10;
                                top: 100%;
                                content: '';
                                left: 0;
                            }
                    .aboutUsContentAboutUsContEducationalSinglePart {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        padding: 5em;
                        background-color: #171E39;
                    }
                        .aboutUsContentAboutUsContEducationalSinglePartTitle {
                            line-height: 120%;
                            font-family: Roboto-Bold;
                            font-size: 2.2em;
                            width: min-content;
                            text-transform: uppercase;
                            color: #DBA965;
                            margin-bottom: 0.5em;
                        }
                        .aboutUsContentAboutUsContEducationalSinglePartText {
                            font-family: Roboto-Regular;
                            line-height: 160%;
                            color: #7681AC;
                            margin-bottom: 2em;
                        }
                        .aboutUsContentAboutUsContEducationalSinglePartButton {
                            position: relative;
                        }
        .aboutUsContentWaiterCarouselCont {
            display: flex;
            width: 100%;
            padding: 2em 0;
        }
            .aboutUsContentWaiterInfo {
                display: flex;
                position: relative;
                align-items: flex-end;
                padding: 1em;
                margin-right: 5em;
                z-index: 0;
            }
                .aboutUsContentWaiterCarouselWheelCont {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                }
                .none {
                    display: none;
                }
                .aboutUsContentWaiterInfoItem {
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: min-content;
                    height: max-content;
                    flex-direction: column;
                    padding: 1em;
                    display: none;
                    transition: ease-in 0.3s;
                    font-family: Roboto-Regular;
                    align-items: center;
                    color: #7681AC;
                    animation: waiterInfoAnime 0.2s;
                }
@keyframes waiterInfoAnime {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
                    .waiterInfoLine {
                        object-fit: cover;
                        width: 90%;
                    }
                    .aboutUsContentWaiterPost {
                        display: flex;
                        width: 100%;
                        line-height: 120%;
                        padding-left: 1em;
                    }
                    .aboutUsContentWaiterName {
                        font-family: Roboto-Bold;
                        font-size: 2.2em;
                        line-height: 42px;
                        color: #DBA965;
                        padding: 0 1rem;
                        margin: 1rem 0;
                        width: max-content;
                    }
                    .aboutUsContentWaiterText {
                        display: flex;
                        width: 100%;
                        line-height: 160%;
                        padding: 0 1em;
                        margin: 1em 0;
                    }
                    .aboutUsContentWaiterCarouselWheel {
                        display: flex;
                        color: #7681AC;
                        width: 50%;
                        font-family: Roboto-Regular;
                        padding: 1em;
                        justify-content: space-between;
                        align-items: center;
                    }
                        .progressCont {
                            display: flex;
                            width: 100%;
                            justify-content: flex-start;
                            height: 2px;
                            background-color: #7681AC50;
                            margin: 0 1em;
                        }
                            .progress {
                                display: flex;
                                background-color: #7681AC;
                                height: 100%;
                            }
                        .carouselArrowsCont {
                            display: flex;  
                            /* margin-top: 1em; */
                            width: 8em;
                            justify-content: space-between;
                        }
                            .carouselArrow {
                                padding: 1em;
                                cursor: pointer;
                            }
                        .mobile {
                            display: flex;
                            width: 100%;
                        }
            .aboutUsContentWaiterCarouselContainer {
                display: flex;
                width: 100%;
                overflow: hidden;
                padding: 1em;
            }
                .aboutUsContentWaiterCarousel {
                    display: flex;
                    scrollbar-width: none;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    scroll-snap-type: x mandatory;
                    -webkit-overflow-scrolling: touch;
                    scroll-snap-points-x: repeat(100%);
                    pointer-events: all;
                    /* cursor: pointer; */
                    padding-bottom: 1em;
                }
                /* .aboutUsContentWaiterCarousel.active {
                    cursor: grabbing;
                    cursor: -webkit-grabbing;
                } */
                    .aboutUsContentWaiterCarousel::-webkit-scrollbar {
                        display: none;
                    }
                    .aboutUsContentWaiterCarouselItem {
                        scroll-snap-align: start;
                        flex-shrink: 0;
                        transition: ease-in-out 0.3s;
                        /* margin-right: 1.5em; */
                        opacity: 0.5;
                        /* margin-left: 2em; */
                        transform-origin: center center;
                        transform: scale(1);
                        transition: transform 0.5s;
                        transform: perspective(500px) translateZ(-50px);
                        position: relative;
                        border: 1px solid rgba(255, 255, 255, 0);
                        padding: 1.5em;
                    }
                        .aboutUsContentWaiterCarouselItem::after {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            content: '';
                            z-index: 1;
                        }
                    .aboutUsContentWaiterCarouselItemActive {
                        transition: ease-in-out 0.4s;
                        margin-left: 2em;
                        opacity: 1;
                        /* padding: 1.5em; */
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        transform: perspective(500px) translateZ(0);
                    }
                        .aboutUsContentWaiterCarouselItemImg {
                            object-fit: cover;
                            width: 100%;
                        }
                    .transition {
                        transition: ease-in-out 0.3s;
                        opacity: 0.5;
                    }
        .aboutUsContentTariffCont {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
            .aboutUsContentTariffContTitle {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                padding: 1em;
                font-family: Roboto-Bold;
                font-size: 1.1em;
                color: #fff;
                border-bottom: 1px solid rgb(255, 253, 253, 0.1);
            }
@media screen and (max-width: 1100px) {
        .aboutUsContentTop {
            height: auto;
            flex-direction: column;
        }
                .aboutUsContentTopLeftTitleCont {
                    font-size: 0.7em;
                }
            .aboutUsContentTopRight {
                /* padding: 0; */
            }
                .aboutUsContentTopRightSuggest {
                    flex-direction: column;
                }
                    .aboutUsContentTopRightSuggestText {
                        text-align: left;
                        margin-bottom: 1em;
                    }
                    .aboutUsContentTopRightSuggestForU {
                        /* text-align: left; */
                        width: 100%;
                        margin-bottom: 1em;
                    }
            .aboutUsContentAboutUsCards {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
                .betweenLine {
                    visibility: hidden;
                    margin: 0;
                    padding: 1em;
                    height: 100%;
                    width: 1px;
                }
                .aboutUsContentAboutUsContEducationalSingleContent {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                    .aboutUsContentAboutUsContEducationalSinglePart {
                        padding: 2em;
                    }
                        .aboutUsContentAboutUsContEducationalSinglePartTitle {
                            display: flex;
                            width: 100%;
                            font-size: 1.5em;
                        }
        .aboutUsContentWaiterCarouselCont {
            flex-direction: column;
            padding: 0;
        }
            .aboutUsContentWaiterCarouselContainer {
                padding-top: 0;
            }
                    .aboutUsContentWaiterCarouselItem {
                        margin: 0;
                        padding: 0;
                        /* transform: perspective(500px) translateZ(-250px) */
                    }
                    .aboutUsContentWaiterCarouselItemActive {
                        /* transform: perspective(500px) translateZ(-240px) */
                    }
            .aboutUsContentWaiterInfo {
                padding: 0;
            }
                .aboutUsContentWaiterInfoItem {
                    padding: 0;
                }
                    .aboutUsContentWaiterCarouselWheel {
                        padding: 0 1em;
                    }
                .none {
                    display: block;
                }
}
@media screen and (min-width: 1500px) {
                .aboutUsContentAboutUsContEducationalSingleContent {
                    justify-items: center;
                }
}
.registrationCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #12172C;
}
    .registrationContent {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
    }
        .registrationContentBox {
            display: flex;
            flex-direction: column;
            width: max-content;
        }
            .registrationContentReg {
                display: flex;
                /* padding: 0.2em; */
                position: relative;
            }
                .registrationContentBoxImg {
                    object-fit: fill;
                }
                .registrationContentBoxItems {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    padding: 0.15em;
                    left: 0;
                    display: flex;
                }
                    .secondaryReg {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        font-family: Roboto-Regular;
                        width: 100%;
                    }
                    .primaryReg {
                        font-family: Roboto-Black;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        color: #fff;
                        background: linear-gradient(89.93deg, #AB154B 10.82%, #FFA730 93.34%);
                        border-radius: 4px;
                    }
                        .primaryReg::after {
                            width: 100%;
                            height: 100%;
                            top: 8.85%;
                            left: 0;
                            content: '';
                            z-index: -1;
                            position: absolute;
                            background: linear-gradient(89.93deg, #AB164B 10.82%, #FFA730 93.34%);
                            opacity: 0.6;
                            filter: blur(24px);
                            border-radius: 4px;
                        }
            .registrationContentAlso {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                margin: 2em 0 1.5em 0;
                color: #7681AC;
                line-height: 19px;
                font-family: Roboto-Regular;
            }
            .registrationContentAlsoCont {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                font-family: Roboto-Regular;
            }
                .registrationContentAlsoItem {
                    display: flex;
                    align-items: center;
                    position: relative;
                }
                    .registrationContentAlsoIcon {
                        object-fit: contain;
                        margin-right: 0.5em;
                    }
            .registrationContentInputCont {
                display: flex;
                width: 100%;
                margin: 0.5em 0;
                align-items: center;
                position: relative;
            }
                .registrationContentInput {
                    background: rgba(255, 255, 255, 0.05);
                    border-radius: 6px;
                    border-color: transparent;
                    outline: none;
                    width: 100%;
                    padding: 1em;
                    font-family: Roboto-Regular;
                    color: #7681AC;
                    font-size: 1.2em;
                }
                #eyeShow {
                    object-fit: contain;
                    position: absolute;
                    right: 1em;
                    cursor: pointer;
                }
            .registrationContentForget {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                margin: 1em 0 3em 0;
                position: relative;
                font-family: Roboto-Regular;
            }
            .registrationContentEnter {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5em;
            }
@media screen and (min-width: 1500px) {
.registrationCont {
    height: 100vh;
}
}